-- 052_penal_execution_calculator.sql
CREATE TABLE IF NOT EXISTS public.penal_calculations (
    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
    user_id UUID REFERENCES auth.users(id) ON DELETE CASCADE,
    client_id UUID REFERENCES public.clients(id) ON DELETE CASCADE,
    title TEXT NOT NULL,
    years INTEGER DEFAULT 0,
    months INTEGER DEFAULT 0,
    days INTEGER DEFAULT 0,
    start_date DATE NOT NULL,
    remission_days INTEGER DEFAULT 0,
    progression_fraction NUMERIC NOT NULL,
    livramento_fraction NUMERIC NOT NULL,
    progression_date DATE,
    livramento_date DATE,
    end_date DATE,
    is_visible_to_client BOOLEAN DEFAULT false,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now()) NOT NULL
);

ALTER TABLE public.penal_calculations ENABLE ROW LEVEL SECURITY;

CREATE POLICY \
Users
can
manage
their
penal
calculations\
    ON public.penal_calculations FOR ALL
    USING (auth.uid() = user_id);

CREATE POLICY \Clients
can
view
visible
calculations\
    ON public.penal_calculations FOR SELECT
    USING (
        is_visible_to_client = true 
        AND client_id IN (
            SELECT id FROM public.clients WHERE portal_access_code = current_setting('request.jwt.claims', true)::json->>'portal_access_code'
        )
    );
